@media only screen and (max-width: 890px){

    #logo-responsive {
        width: 28%;
    }

}

.cabecera{
    display: flex;
}

.logo{
    width:250px;
    margin-left: 3%;
    margin-top: 12px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

.mat-expansion-panel-header-title{
    align-items: center;
    justify-content: center;
}

mat-expansion-panel{
    width: 400px;
    text-align: center;
}

button{
    margin-bottom: 10px;
}

.title{
    font-weight: bold;   
}